/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=New+Rocker&family=Shadows+Into+Light&display=swap");

/* Fonts */
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Main */
.appBG {
  background-color: #000;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.animation,
.animation_layer {
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
}

.animation_layer.parallax {
  position: fixed;
}

.TopParallaxPanel {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  width: 100%;
}

/* Parallax Page 1 Content */
#PurpleBG {
  background-image: url(./images/PurpleBG.png);
  background-size: contain;
}

#TitleTextShadow {
  text-shadow: 0 0 7px #6a0dad, 0 0 10px #8a2be2, 0 0 21px #7b68ee,
    0 0 42px #9b59b6, 0 0 82px #a020f0, 0 0 92px #9932cc, 0 0 102px #800080;
  color: #a608a6;
  animation: colorshift 20s infinite alternate;
}

#Moon {
  background-image: url(./images/Moon.png);
  background-size: contain;
  height: 200px;
  width: 200px;
  margin-top: 150px;
  margin-left: 100px;
}

#Cloud {
  background-image: url(./images/StarPanels.png);
  background-size: contain;
}

#City1 {
  background-image: url(./images/CityBG1.png);
  background-size: cover;
}

#City2 {
  background-image: url(./images/CityBG2.png);
  background-size: cover;
}

#City3 {
  background-image: url(./images/CityBG3.png);
  background-size: cover;
}

#FillerClouds {
  background-image: url(./images/FillerClouds.png);
  background-size: cover;
}

#Character {
  background-image: url(./images/RaidenCliff.png);
  background-size: contain;
}

#Cliff {
  background-image: url(./images/RightCliff.png);
  background-size: contain;
}

#Raiden {
  background-image: url(./images/RaidenShogun.png);
  position: fixed;
  background-size: cover;
  padding: 0;
  right: 0;
}

/* Parallax Page 2 Content */

.DreamSakura {
  background-image: url(./images/DreamSakura01.png);
  background-size: contain;
  background-color: red;
}

.neon-glow {
   color: #f3e8ff;
  text-shadow: 0 0 7px #a855f7, 0 0 10px #c084fc, 0 0 21px #a78bfa;
}

.neon-glow-purple-hover {
  /* Default state (no glow) */
  color: #fff;
  text-shadow: none;
  transition: all 0.3s ease-in-out; /* Smooth transition for the glow */
}



/* Text Box Panel */
#textblock {
  background-color: #000000;
  height: 100vh;
}

#textblock-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 70px;
  overflow: hidden;
}

#textblock-title {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  font-family: "Helvetica Neue";
}

#textblock-content {
  color: #ffffff;
  font-size: 20px;
}

#textblock-footer {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

#textblock-text {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}

@keyframes colorshift {
  0% {
    color: #000000;
  }
  20% {
    color: #0a0a0a;
  }
  40% {
    color: #050505;
  }
  60% {
    color: #0d0d0d;
  }
  80% {
    color: #101010;
  }
  100% {
    color: #111111;
  }
}
