#textblock {
  background-color: #000000;
  height: 100vh;
}

#textblock-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 70px;
}

#textblock-title {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  font-family: "Helvetica Neue";
}

#textblock-content {
  color: #ffffff;
  font-size: 20px;
}

#textblock-footer {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

#textblock-devsense {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}

.appBG {
  background-color: #000;
  height: 100vh;
  width: 100%;
}


.animation,
.animation_layer {
  height: 1000px;

}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
}
.animation_layer.parallax {
  position: fixed;
}

#BG {
  background-image: url(./images/InazumaBG.png);
  background-size: cover;

}

#Clouds {
  background-image: url(./images/Clouds.png);
  background-size: cover  ;
}

#Moon {
  background-image: url(./images/Moon.png);
}

#Character {
  background-image: url(./images/RaidenCliff.png);
  background-size: contain;
}
#Cliff {
  background-image: url(./images/RightCliff.png);
}
