/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=New+Rocker&family=Shadows+Into+Light&display=swap");

/* Fonts */
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Navigation Bar */

.TopBarNav {
  /* background-color: linear-gradient (to bottom, rgba(255, 255, 255, 0), rgba(147, 51, 234, 1)) ; */
}

/* Main */
.appBG {
  background-color: #000;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.animation,
.animation_layer {
  height: 100%;
  min-height: 100vh;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
}

.TopParallaxPanel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100%;
}

/* Text Box Panel */
#textblock {
  height: 100vh;
}

#textblock-title {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  font-family: "Helvetica Neue";
}

#textblock-content {
  color: #ffffff;
  font-size: 20px;
}

#textblock-footer {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

#textblock-text {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}

@keyframes colorshift {
  0% {
    color: #000000;
  }
  20% {
    color: #0a0a0a;
  }
  40% {
    color: #050505;
  }
  60% {
    color: #0d0d0d;
  }
  80% {
    color: #101010;
  }
  100% {
    color: #111111;
  }
}

@media (min-width: 768px) {
  /* Neon Button */
  .neon-button {
    --glow-color: rgba(199, 171, 225, 0.788);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    --btn-color-hovered: rgb(235, 225, 245);
    border: 0.25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 1em var(--glow-spread-color),
      inset 0 0 0.74em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
  }

  .neon-button:hover {
    color: var(--btn-color-hovered);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
  }

  .neon-button:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 0.5em 0.25em var(--glow-color);
  }

  /* Parallax Page 1 Content */
  #PurpleBG {
    background-image: url(./images/PurpleBG.png);
    background-size: cover;
    bottom: 0;
  }

  #TitleTextShadow {
    text-shadow: 0 0 7px #6a0dad, 0 0 10px #8a2be2, 0 0 21px #7b68ee,
      0 0 42px #9b59b6, 0 0 82px #a020f0, 0 0 92px #9932cc, 0 0 102px #800080;
    color: #a608a6;
    animation: colorshift 20s infinite alternate;
  }

  #ElectroCloud {
    background-image: url(./images/StarPanels.png);
    background-size: contain;
  }

  #Layer1 {
    background-image: url(./images/Layer1.png);
    background-size: cover;
  }

  #Layer2 {
    background-image: url(./images/Layer2.png);
    background-size: cover;
  }

  #Layer3 {
    background-image: url(./images/Layer3.png);
    background-size: contain;
  }

  #Twigs {
    background-image: url(./images/BlossomLeaves.png);
    background-size: contain;
  }

  #FillerClouds {
    background-image: url(./images/FillerClouds.png);
    background-size: contain;
  }

  #Character {
    background-image: url(./images/RaidenCliff.png);
    background-size: contain;
  }

  /* Parallax Page 2 Content */
  #Raiden {
    background-size: contain;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./images/RaidenShogun.png");
  }

  #DreamSakura {
    background-image: url(./images/DreamSakura.png);
    background-size: contain;
    background-position: center center;
  }

  /* Parallax Page 3 Content */
  #StormWrapper {
    transform: none !important;
  }

  #Storm {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.6) 20%,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 80%,
        rgba(0, 0, 0, 1) 105%
      ),
      url(./images/InazumaStorm.gif);
    min-height: calc(100vh + 10px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
